@charset "UTF-8";

body {
  font-family: Lato;
  color: #333;
}

.heading-font {
  font-family: Raleway;
}

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-left__content {
  color: #333;
  opacity: .7;
  transition: all .3s;
}

.header-left__content:hover {
  opacity: 1;
}

.header-right {
  background-color: #74cfae;
}

.header-right__content {
  display: inline-block;
  padding: 14px 12px;
  color: #fff;
  text-decoration: none;
  font-size: 12px; 
  line-height: 20px;
  transition: all .3s;
}

.header-right__content:hover{
  color: #333;
}

.header-right__sp {
  display: none;
}

/* theme */

.main {
  padding-top: 78px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title-container {
  text-align: center;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.title-text {
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do */

.can {
  background-color: #74cfae;
}

.can-inner {
  padding-top: 50px;
}

.can-container {
  display: flex;
  text-align: center;
}

.can-left {
  padding: 0 100px;
}

.can-right {
  color: #fff;
  padding: 20px;
}

.can-title {
  font-size: 24px;
  margin-bottom: 35px;
}

.can-text {
  font-size: 20px;
  line-height: 25px;
}

/* our latest work */

.works {
  background-color: #f2f2f2;
}

.works-inner {
  padding: 60px 0 70px 0;
}

.works-container {
  text-align: center;
}

.works-title {
  font-size: 24px;
  margin-bottom: 40px;
}

.works-contents {
  display: flex;
  flex-wrap: wrap;
}

.works-content {
  margin-left: 100px;
}

.works-content:nth-child(3n-2) {
  margin-left: 0;
}

.works-content:nth-child(n+4) {
  margin-top: 80px;
}

.works-image {
  opacity: .7;
  transition: all .3s;
}

.works-image:after {
  transition: all .3s;
}

.works-image:hover {
  opacity: 1;
}

.works-under-contents {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.works-text {
  width: 460px;
  line-height: 25px;
}

.works-mail-button {
  display: inline-block;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  transition: all .3s;
}

.works-mail-button:hover{
  color: #333;
}

/* OUR SKILLS */

.skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
}

.skills-container {
  text-align: center;
}

.skills-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 70px;
}

.skills-graphs {
  display: flex;
  justify-content: space-around;
}

.skills-graph {
  margin-left: 180px;
}

.skills-graph:first-child {
  margin-left: 0;
}

.skills-text {
  color: #fff;
  margin-top: 20px;
}

/* sns */

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.sns-icon-link {
  display: block;
  width: 125px;
  padding: 30px;
  color: #74cfae;
  transition: all .3s;
}

.sns-icon-link:hover {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
  color: #fff;
}



/* responsive */


@media screen and (max-width:767px) {

  .inner {
    width: 97%;
  }

  .header-right__content {
    display:none;
  }

  .header-right__sp {
    display: block;
  }

  .header-right__sp__content {
    color: #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .title-inner {
    padding: 160px 0 130px;
  }

  .title {
    font-size: 80px;
  }

  .can-container {
    flex-direction: column;
  }

  .can-text {
    margin: 0 auto;
    width: 90%;
  }

  .works-contents {
    flex-direction: column;
  }

  .works-content {
    margin: 0;
  }

  .works-content:nth-child(n+4) {
    margin-top: 0;
  }

  .works-content:nth-child(4n) {
    margin-top: 80px;
  }

  .works-under-contents {
    flex-direction: column;
  }

  .works-text {
    width: 65%;
    margin: 0 auto;
    line-height: 25px;
  }

  .works-mail-button {
    margin: 50px 0 0 0;
  }

  .skills-graphs {
    flex-direction: column;
    align-items: center;
  }

  .skills-graph {
    margin: 100px 0 0 0;
  }

  .skills-graph:first-child {
    margin-top: 0;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-container {
    flex-direction: column;
    align-items: center;
  }

  .sns-icon {
    width: 100%;
  }

  .sns-icon-link {
    padding: 30px 0;
    width: 100%;
  }


}



@media only screen and (min-width:768px) and (max-width:1199px) {

  .inner {
    width: 97%;
  }

  .can-container {
    flex-direction: column;
  }

  .can-text {
    margin: 0 auto;
    width: 90%;
  }

  .works-contents {
    flex-direction: column;
  }

  .works-content {
    margin: 0;
  }

  .works-content:nth-child(n+4) {
    margin-top: 0;
  }

  .works-content:nth-child(4n) {
    margin-top: 80px;
  }

  .works-under-contents {
    flex-direction: column;
  }

  .works-under-contents {
    flex-direction: column;
  }

  .works-text {
    width: 65%;
    margin: 0 auto;
    line-height: 25px;
  }

  .works-mail-button {
    margin: 50px 0 0 0;
  }

  .skills-graphs {
    flex-direction: column;
    align-items: center;
  }

  .skills-graph {
    margin: 88px 0 0 0;
  }

  .skills-graph:first-child {
    margin-top: 0;
  }

}

/* @media screen and (min-width:1200px) {
  pc用のcssを記述
 } */


















